@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700 &display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

strong {
  font-weight: normal;
}

ul,
ol {
  list-style-type: none;
}

body {
  background-color: #f5f5f5;
}

.navbar {
  background-color: #FF8FB8;
  font-family: "Poppins", sans-serif;
}
.navbar .navbar-brand {
  margin-right: 0;
}
.navbar .navbar-nav .nav-link {
  color: #f0f0f0;
  font-size: 1.1rem;
}
.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
  transform: scale(1.05);
  transition: all 300ms;
}
.navbar .navbar-nav .active {
  color: #ffffff !important;
  transform: scale(1.05);
}
.navbar .ms-searchbar {
  margin-left: -40px;
}
.navbar .nav-icons {
  display: flex;
  justify-content: space-evenly;
}
.navbar .nav-icons a {
  color: #f0f0f0;
}
.navbar .nav-icons a:hover {
  color: #ffffff;
  transform: scale(1.15);
  transition: all 300ms;
}
.navbar .form-control:focus {
  box-shadow: 0 0 0 0.25rem #FFC8DD;
}
.navbar input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url("src/assets/images/xmark-solid.svg") no-repeat 50% 50%;
  filter: invert(80%) sepia(12%) saturate(863%) hue-rotate(296deg) brightness(102%) contrast(109%);
}
.navbar .navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.navbar .navbar-toggler, .navbar .navbar-toggler:focus, .navbar .navbar-toggler:active, .navbar .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}
.navbar .navbar-toggler span {
  margin: 0;
  padding: 0;
}
.navbar .navbar-toggler .toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar .navbar-toggler .middle-bar {
  margin-top: 0px;
}
.navbar .navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}
.navbar .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}
.navbar .navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}
.navbar .navbar-toggler.collapsed .toggler-icon {
  background: #ffffff;
}
.navbar .navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}
.navbar .navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}
.navbar .navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}
.navbar .text-brand {
  display: none;
  text-decoration: none;
  color: #f0f0f0;
  align-self: center;
  font-size: 1.3rem;
  margin-left: 5px;
}
@media (min-width: 576px) {
  .navbar .text-brand {
    display: inline;
  }
}

.item-list-container-greeting {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2rem;
  margin-top: 10vh;
}

/*# sourceMappingURL=App.css.map */
